{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Restablecer Contraseña" %}{% endblock %}


{% block content %}
<div class="col-md-4">
    <h1 class="header">{% include 'title.html' %}</h1>
    <h1>{% trans "Restablecer Contraseña" %}</h1>
    <p>{% blocktrans %}Te hemos enviado un correo electrónico. Por favor contáctenos si no lo recibe en pocos minutos{% endblocktrans %}</p>
    <a class="btn btn-primary" href="{% url 'home' %}">Inicio</a>
</div>
{% endblock %}
