{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% block contraseaactive %} active {% endblock %}
{% block contenttitle %}
Cambiar contraseña
{% endblock contenttitle %}
{% block contentnavigation %}
    <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Inicio</a></li>
    <li><a href="{% url 'listar_expedientes' %}"><i class="fa fa-key"></i> Cambiar contraseña</a></li>
{% endblock %}

{% block content %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h2 class="box-title">Cambiar contraeña</h2>
        </div>
        <div class="box-body">
             <form action="{# {% url 'profile' %} #}" method="post">
                {% csrf_token %}
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
{#                                <label for="username">Usuario:</label>#}
{#                                <input class="form-control" id="username" type="text" readonly disabled value="{{ user.username }}" />#}

                                <label for="fullname">Nombre completo:</label>
                                <input class="form-control" id="fullname" type="text" readonly disabled value="{{ user.get_full_name }}" />

                                <label for="fullname">Email:</label>
                                <input class="form-control" id="email" type="text" readonly disabled value="{{ user.email }}" />
                            </div>

                            <div class="col-md-6">
                                {{ form.old_password.label_tag }}
                                {{ form.old_password.errors }}
                                {% render_field form.old_password class='form-control' %}

                                {{ form.new_password1.label_tag }}
                                {{ form.new_password1.errors }}
                                {% render_field form.new_password1 class='form-control' %}

                                {{ form.new_password2.label_tag }}
                                {{ form.new_password2.errors }}
                                {% render_field form.new_password2 class='form-control' %}
                            </div>
                        </div>
                    </div>
                <div class="box-footer">
                    <button class="btn btn-success" type="submit">Cambiar Contraseña</button>
                    <a class="btn btn-default" href="{% url 'inicio' %}">Cancelar</a>
                    <a class="btn bg-orange-active color-palette pull-right" href="{% url 'logout' %}">Cerrar Sesión</a>
                </div>
            </form>
         </div>
    </div>
{% endblock %}