{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}


{% block head_title %}{% trans "Establecer nueva Contraseña" %}{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="header">{% include 'title.html' %}</h1>
    </div>
        <div class="col-md-4">
    <h1>{% trans "Establecer nueva Contraseña" %}</h1>
        {% if validlink %}
            <form method="POST" action="" class="password-reset-link">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="{% trans 'Salvar' %}" class="btn btn-primary" />
            </form>
        {% else %}
            <p class="red-text">Invalido Token.</p>
            <p>
                <a href="{% url 'password_reset' %}">Solicitar un nuevo Token de restablecimiento</a>
            </p>
        {% endif %}
</div>

{% endblock %}