{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Contraseña restablecida satisfactoriamente" %}{% endblock %}


{% block content %}
<div class="col-md-4" xmlns="http://www.w3.org/1999/html">
    <h1 class="header">{% include 'title.html' %}</h1>
    <h1>{% trans "Contraseña restablecida satisfactoriamente" %}</h1>
    <p>La contraseña fue reestablecida. Puede <a href="{% url 'login' %}"> iniciar sesión </a> nuevamente</p>
    <hr/>
    <a style="display:block;text-align: center" href="{% url 'inicio' %}">Inicio</a>
</div>
{% endblock %}