{% extends "layout.html" %}
{% load extra_tags %}
{% load static %}
{% load i18n %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cajas_admin.css' %}">
{% endblock %}
{% block espacioactive %} active  {% endblock %}
{% block contenttitle %}
    Espacio de Trabajo
{% endblock contenttitle %}

{% block boxes %}
    {% include 'main/admin.html' %}
{% endblock %}

{% block contentnavigation %}
    <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Inicio</a></li>

{% endblock %}

{% block content %}
    <!-- Bloque de Tareas -->
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-cogs"></i> Recursos</h3>
            <i class="fa fa-calendar pull-right"> {% now "d-m-Y" %}</i>
        </div>
        <div class="box-body">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4 class="title text-center"><i class="icon fa fa-home"></i> Bienvenido al {% include 'title.html' %} a
                    Iniciado Sesión {{ user.first_name }} {{ user.last_name }} </h4>
            </div>
        </div>

        <div class="box-body">
            <a href="{% url 'listado_usuarios' %}" class="btn btn-app">
                <span class="badge bg-green-gradient">{{ cantidad_usuarios }}</span>
                <i class="fa fa-users"></i> Usuarios
            </a>
            <a href="{% url 'reportes' %}" class="btn btn-app">
                <i class="ion ion-clipboard"></i> Reporte General
            </a>
            <a href="{% url 'crear_expediente' %}" class="btn btn-app">
                <span class="badge bg-green">{{ cantidad_expedientes }}</span>
                <i class="ion ion-compose"></i> Crear Expediente
            </a>
            <a href="#" class="btn btn-app">
                <i class="ion ion-compose"></i> Insertar Publiaciones
            </a>
            <a href="#" class="btn btn-app">
                <i class="ion ion-compose"></i> Insertar eventos
            </a>
             <a href="{% url 'tesisview' %}" class="btn btn-app">
                <i class="ion ion-compose"></i> Insertar Tesis
            </a>


        </div>


        <!-- /.box-body ion-compose-->
        <div class="box-footer">
            <h8>{{ user.first_name }} {{ user.last_name }} ---</h8>
            <h8><strong>Iniciado sesión por útlima vez:</strong> {{ user.last_login }}</h8>
        </div>
    </div>
{% endblock content %}