{% extends 'basemain.html' %}
{% load static %}
{% load i18n %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock %}
{% block body %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h3>Ups! Página no encontrada</h3>
                <h1><span>4</span><span>0</span><span>4</span></h1>
            </div>
            <h2>Lo sentimos, pero no se encontró la página solicitada.</h2>
            <h1>Puede regresar {% url 'inicio' %}</h1>
        </div>
    </div>
{% endblock %}