{% extends 'basepres.html' %}
{% load static %}
{% load i18n  %}
{% block content %}
 <div class="section container">
     <div class="row">
         <form action="/contacto/" method="POST" class="col s12">
             {% csrf_token %}
             <div class="row card-panel">
                 <h3 class="center"> Contacto </h3>

                 <div class="input-field col s4">
                     <i class="material-icons prefix">account_circle</i>
                     <input type="text" id="nombre" type="text" class="validate" required name="nombre">
                     <label for="nombre">Nombre:</label>
                 </div>

                 <div class="input-field col s6">
                     <i class="material-icons prefix">email</i>
                     <input type="email" id="email" type="email" class="validate" required name="email">
                     <label for="email">Email:</label>
                 </div>

                 <div class="row">

                     <div class="row">
                         <div class="input-field col s12">
                             <i class="material-icons prefix">mode_edit</i>
                             <textarea id="textarea_contacto" class="materialize-textarea" data-length="120"
                                       class="validate" name="mensaje"
                                       required></textarea>
                             <label for="textarea_contacto">Mensaje</label>

                         </div>

                     </div>

                 </div>


                 <button class="btn waves-effect waves-light light-blue darken-4" type="submit">
                     <i class="material-icons right light-blue darken-4" style="color: #fff;">send</i>
                     Enviar
                 </button>
             </div>
         </form>
    </div>
  </div>
{% endblock %}