{% load extra_tags %}
<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">Menú</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">SISDOC</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        {#                {% with profile=user|profile %}#}
                        <img src="
                                {{ user.profile.foto.url }}{#{% static 'media/miembros/' %}/{{ user.profile.foto }} #}"
                             class="user-image" alt="User Image">
                        {#                <img class="user-image" src="{% static 'media/../static/uploads/miembros/Ileana.png' %}" alt="User profile picture">#}
                        {#              {% endwith %}#}

                        <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{ request.user.first_name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            {#                <img src="{% static 'media/miembros/none.png' %}" class="img-circle" alt="User Image">#}
                            <img class="img-circle" src="{{ user.profile.foto.url }}" alt="User profile picture">

                            <p>
                                {{ request.user.first_name }}
                                <small>Miembro desde el {{ user.date_joined|date }}</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        {#              <li class="user-body">#}
                        {#                <div class="row">#}
                        {#                  <div class="col-xs-4 text-center">#}
                        {#                    <a href="#">Followers</a>#}
                        {#                  </div>#}
                        {#                  <div class="col-xs-4 text-center">#}
                        {#                    <a href="#">Sales</a>#}
                        {#                  </div>#}
                        {#                  <div class="col-xs-4 text-center">#}
                        {#                    <a href="#">Friends</a>#}
                        {#                  </div>#}
                        {#                </div>#}
                        <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                {#                  <a href="{% url 'perfil' %}" class="btn btn-default btn-flat">Perfil</a>#}
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Salir</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                {% if user|has_role:'ROLE_ADMIN' %}
                    <li>
                        <a href="{% url 'admin:index' %}" target="_blank" title="Panel administrativo"><i
                                class="fa fa-gears"></i></a>
                    </li>
                {% endif %}
                {#          <li>#}
                {#            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
                {#          </li>#}
            </ul>
        </div>
    </nav>
</header>