{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title"> <i class="fa fa-search"></i> {{ title }}</h3>
            {% block menu_listado %}
            {% endblock %}
        </div>

        <div class="box-body">
            <table id="data" class="table table-striped table-bordered">
                <thead class="dataTables_scrollHead thead-light bg-gray">
                {% block columns %}

                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>
        </div>


        <div class="box-footer">
            <a href="{{ crear_url }}" class="btn btn-primary btn-flat btnTest">
                <i class="fa fa-plus"></i> Nuevo registro
            </a>
             <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fa fa-refresh"></i> Actualizar
            </a>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script type="application/javascript">
        $(function () {
            $('#data').DataTable({
                responsive: true,
                autoWidth: false,
                "language": {
                    url: '{% static 'lib/datatables/spanish.txt' %}'
                }
            });

            {#//Botón#}
            {#$('.btnTest').on('click', function () {#}
            {#    $.ajax({#}
            {#        url: '{% url 'expediente:listar_expedientes' %}',#}
            {#        type: 'POST',#}
            {#        data: {id: 1},#}
            {#        dataType: 'json'#}
            {#    })#}
            {# });#}
        });
    </script>
{#    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>#}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            $('#example').DataTable();#}
    {#        });#}
    {#    </script>#}
{#    <script>#}
{#        $(function () {#}
{#            $('#listados').DataTable({#}
{#                'paging': false,#}
{#                'lengthChange': false,#}
{#                'searching': true,#}
{#                'ordering': true,#}
{#                'order': [[0, "desc"]],#}
{#                'info': true, {# true #}
{#                'autoWidth': false,#}
{#                language: {#}
{#                    'info': "Mostrando _START_ a _END_ de _MAX_ Entradas",#}
{#                    'infoEmpty': "Mostrando 0 de 0 of 0 Entradas",#}
{#                    'search': "Buscar",#}
{#                    searchPlaceholder: "Buscar ...",#}
{#                    'paginate': {#}
{#                        "first": "Primero",#}
{#                        "last": "Ultimo",#}
{#                        "next": "siguiente",#}
{#                        "previous": "anterior",#}
{#                    }#}
{#                }#}
{#            });#}
{#// Script de eliminar con modal#}
{#            $('.eliminar').click(function (event) {#}
{#                event.preventDefault();#}
{#                event.stopImmediatePropagation();#}
{##}
{#                $('#eliminarconfirmado').attr('href', $(this).attr('href'));#}
{##}
{#                $('#modal-eliminar').modal('show');#}
{#            });#}
{##}
{#        });#}
{#    </script>#}
{% endblock %}