{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% block matriculadosactive%} active {% endblock %}
{% block contenttitle %}
Estadisticas
{% endblock contenttitle %}

{% block contentnavigation %}
    <li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i> Inicio</a></li>
    <li><a href="{% url 'estadisticas' %}"><i class="fa fa-pie-chart"></i> Estadísticas</a></li>
{% endblock %}

{% block content %}
    <div class="col-md-6">
    <div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-pie-chart"></i> Matriculados</h3>
    </div>
        <div class="box-body">
                  <div class="chart-responsive">
               <canvas id="pieChart" width="661" height="330"></canvas>
                  </div>   <!-- ./chart-responsive -->
{#                <div class="col-md-1">#}
{#                    <ul class="chart-legend clearfix">#}
{#                        <li><i class="fa fa-circle-o text-red"></i> Desactivados</li>#}
{#                        <li><i class="fa fa-circle-o text-green"></i> Activos</li>#}
{#                    </ul>#}
{#                </div>#}
        </div>
    </div>
    </div>
 <div class="col-md-6">
    <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-bar-chart"></i> Por País</h3>
    </div>
        <div class="box-body">
                    <div class="chart-responsive">
                        <canvas id="lineChart" width="787" height="230"></canvas>
                    </div>
                    <!-- ./chart-responsive -->
        </div>
    </div>

 </div>
{% endblock content %}
{% block extra_scripts  %}
    <script src="{% static 'bower_components/chart.js/Chart.min.js' %}"></script>
    <script>
    {# var config = {#}
    {#  type: 'pie',#}
    {#  data: {#}
    {#    datasets: [{#}
    {#      data: {{ data|safe }},#}
    {#      backgroundColor: [#}
    {#        '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'#}
    {#      ],#}
    {#      label: 'Estado'#}
    {#    }],#}
    {#    labels: {{ labels|safe }}#}
    {#  },#}
    {#  options: {#}
    {#    responsive: true#}
    {#  }#}
    {# };#}
    {##}
    {#window.onload = function() {#}
    {#  var ctx = document.getElementById('pieChart').getContext('2d');#}
    {#  window.myPie = new Chart(ctx, config);#}
    {# };#}

    {#var pieChartCanvas = $('#pieChart').get(0).getContext('2d')#}
    {#var pieChart       = new Chart(pieChartCanvas)#}
    {#var PieData        = [#}
    {#  {#}
    {#    value    : 700,#}
    {#    color    : '#f56954',#}
    {#    highlight: '#f56954',#}
    {#    label    : 'Chrome'#}
    {#  },#}
    {#  {#}
    {#    value    : 500,#}
    {#    color    : '#00a65a',#}
    {#    highlight: '#00a65a',#}
    {#    label    : 'IE'#}
    {#  },#}
    {#  {#}
    {#    value    : 400,#}
    {#    color    : '#f39c12',#}
    {#    highlight: '#f39c12',#}
    {#    label    : 'FireFox'#}
    {#  },#}
    {#  {#}
    {#    value    : 600,#}
    {#    color    : '#00c0ef',#}
    {#    highlight: '#00c0ef',#}
    {#    label    : 'Safari'#}
    {#  },#}
    {#  {#}
    {#    value    : 300,#}
    {#    color    : '#3c8dbc',#}
    {#    highlight: '#3c8dbc',#}
    {#    label    : 'Opera'#}
    {#  },#}
    {#  {#}
    {#    value    : 100,#}
    {#    color    : '#d2d6de',#}
    {#    highlight: '#d2d6de',#}
    {#    label    : 'Navigator'#}
    {#  }#}
    {#]#}
    {#var pieOptions     = {#}
    {#  //Boolean - Whether we should show a stroke on each segment#}
    {#  segmentShowStroke    : true,#}
    {#  //String - The colour of each segment stroke#}
    {#  segmentStrokeColor   : '#fff',#}
    {#  //Number - The width of each segment stroke#}
    {#  segmentStrokeWidth   : 2,#}
    {#  //Number - The percentage of the chart that we cut out of the middle#}
    {#  percentageInnerCutout: 50, // This is 0 for Pie charts#}
    {#  //Number - Amount of animation steps#}
    {#  animationSteps       : 100,#}
    {#  //String - Animation easing effect#}
    {#  animationEasing      : 'easeOutBounce',#}
    {#  //Boolean - Whether we animate the rotation of the Doughnut#}
    {#  animateRotate        : true,#}
    {#  //Boolean - Whether we animate scaling the Doughnut from the centre#}
    {#  animateScale         : false,#}
    {#  //Boolean - whether to make the chart responsive to window resizing#}
    {#  responsive           : true,#}
    {#  // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container#}
    {#  maintainAspectRatio  : true,#}
    {#  //String - A legend template#}
    {#  legendTemplate       : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'#}
    {# } #}
    {#//Create pie or douhnut chart#}
    {#// You can switch between pie and douhnut using the method below.#}
    {#pieChart.Doughnut(PieData, pieOptions)#}


        var ctx = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
                labels: {{ labels|safe }}, {#  ['Expedientes Eliminados', 'Expedientes Activos'],#}
                datasets: [{
                    fillColor: "#79D1CF",
                    strokeColor: "#79D1CF",
                    data: {{ data|safe }},{#[12,3],#}
                    backgroundColor: ['#00a65a', '#f56954']
                   }],
                  {# labels: ['Activo', 'Eliminados'],#}
                {#datasets: [{#}
                {#    label: 'Expedientes',#}
                {#    data: [12, 19],#}
                {#    backgroundColor: [#}
                {#        'rgba(255, 99, 132, 0.2)',#}
                {#        'rgba(54, 162, 235, 0.2)',#}
                {#        'rgba(255, 206, 86, 0.2)',#}
                {#        'rgba(75, 192, 192, 0.2)',#}
                {#        'rgba(153, 102, 255, 0.2)',#}
                {#        'rgba(255, 159, 64, 0.2)'#}
                {#    ],#}
                {#    borderColor: [#}
                {#        'rgba(255, 99, 132, 1)',#}
                {#        'rgba(54, 162, 235, 1)',#}
                {#        'rgba(255, 206, 86, 1)',#}
                {#        'rgba(75, 192, 192, 1)',#}
                {#        'rgba(153, 102, 255, 1)',#}
                {#        'rgba(255, 159, 64, 1)'#}
                {#    ],#}
                {#    borderWidth: 1#}
                {# }]#}
            },
            options: {
                    title: {
                        display: true,
                        text: 'Expedientes'
                    },
                    responsive: true,

                     animation: {
                        segmentShowStroke: true,
                        segmentStrokeColor: '#fff',
                        segmentStrokeWidth: 2,
                        percentageInnerCutout: 50,
                        animationSteps: 100,
                        animationEasing: 'easeOutBounce',
                        animateRotate: true,
                        animateScale: false,
                        responsive: true,
                        maintainAspectRatio: true,
                     },

                    {#legend: {#}
                    {#    display: true,#}
                    {#    labels: {#}
                    {#        fontColor: 'rgb(255, 99, 132)'#}
                    {#    }#}
                    {# },#}
            }
         });

            //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.

         {#var pieChartCanvas = $('#pieChart').get(0).getContext('2d')#}
         {#var pieChart = new Chart(pieChartCanvas)#}
         {#var PieData = [#}
         {#    {#}
         {#        value: 700,#}
         {#        color: '#f56954',#}
         {#        highlight: '#f56954',#}
         {#        label: 'Expedientes Eliminados'#}
         {#    },#}
         {#    {#}
         {#        value: 500,#}
         {#        color: '#00a65a',#}
         {#        highlight: '#00a65a',#}
         {#        label: 'Expedientes Activos'#}
         {#    },#}
         {#]#}
         {#var pieOptions = {#}
         {#    //Boolean - Whether we should show a stroke on each segment#}
         {#    segmentShowStroke: true,#}
         {#    //String - The colour of each segment stroke#}
         {#    segmentStrokeColor: '#fff',#}
         {#    //Number - The width of each segment stroke#}
         {#    segmentStrokeWidth: 2,#}
         {#    //Number - The percentage of the chart that we cut out of the middle#}
         {#    percentageInnerCutout: 50, // This is 0 for Pie charts#}
         {#    //Number - Amount of animation steps#}
         {#    animationSteps: 100,#}
         {#    //String - Animation easing effect#}
         {#    animationEasing: 'easeOutBounce',#}
         {#    //Boolean - Whether we animate the rotation of the Doughnut#}
         {#    animateRotate: true,#}
         {#    //Boolean - Whether we animate scaling the Doughnut from the centre#}
         {#    animateScale: false,#}
         {#    //Boolean - whether to make the chart responsive to window resizing#}
         {#    responsive: true,#}
         {#    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container#}
         {#    maintainAspectRatio: true,#}
         {# } #}
         {#//Create pie or douhnut chart#}
         {#// You can switch between pie and douhnut using the method below.#}
         {#pieChart.Doughnut(PieData, pieOptions)#}
    </script>
<script>
    // Por país
       var ctx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: 'Estadistica por País',
                    fillColor: "#79D1CF",
                    strokeColor: "#79D1CF",
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}